<form action="/toTxt">
    <p>Название фильма</p>
    <input type="text" name="filmName"> <br><br>
    <p>Год выпуска</p>
    <input type="date" name="filmDate"> <br><br>
    <p>Бюджет составил...</p>
    <input type="number" name="filmPrice"> <br> <br>
    <p>Режиссер фильма</p>
    <input type="text" name="filmEditor"><br><br>
    <p>Жанр фильма</p>
    <input type="text" name="filmDesk"><br><br>
    <input type="submit">
</form>

<div class="block1">
    <a href="/listOfFilms">Список всех фильмов</a>
</div>

